<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.driverschool.mapper.hotShow.SearchExerisetimelMapper" >
    <select id="searchExerciselist" parameterType="Map" resultType="com.example.driverschool.entity.Exerciselist">
        SELECT
          el.`id`,
          `uid`,
          `teacherId`,
          execiseTime ,
          `price`,
          `name` ,
          `date`
        FROM
          `exerciselist` el
        WHERE
          `teacherId` = #{id}
        <if test=" date != null and date != '' ">
            and  `date` = #{date}
        </if>
    </select>
    <insert id="addExerciselist" parameterType="com.example.driverschool.entity.Exerciselist">
        INSERT INTO `driverschool`.`exerciselist` (
          `uid`,
          `teacherId`,
          `execiseTime`,
          `price`,
          `name`,
          `date` ,
          `area`
        )
        VALUES
          (
            #{uid} ,
            #{teacherId} ,
            #{execiseTime} ,
            #{price},
            #{name},
            #{date} ,
            #{area}
          ) ;
    </insert>
</mapper>