<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.yunyoupersonnel.mapper.PersonnelFile.PersonnelMapper">
    <insert id="addUser" parameterType="Map">
        INSERT INTO `yuntianpersonnel`.`user` (
          `id` ,
          `name` ,
          `sex`,
          `branch`,
          `idCard`,
          `nativePlace`,
          `marriage`,
          `politics`,
          `folk`,
          `education`,
          `deparment`
        )
        VALUES
        (
            #{id} ,
            #{name} ,
            #{sex} ,
            #{branch},
            #{idCard},
            #{nativePlace} ,
            #{marriage},
            #{politics},
            #{folk},
            #{education},
            #{deparment}
        ) ;
    </insert>
    <insert id="addSchoolMessage" parameterType="Map">
        INSERT INTO `yuntianpersonnel`.`schoolmessage` (
          `computerLevel`,
          `graduateDate`,
          `accumulateID`,
          `administrationLevel`,
          `duty`,
          `position`,
          `foreignLanuage`,
          `FLlevel`,
          `uid`,
          `university`
        )
        VALUES
          (
            #{computerLevel},
            #{graduateDate},
            #{accumulateID},
            #{administrationLevel},
            #{duty},
            #{position},
            #{foreignLanuage},
            #{FLlevel},
            #{id},
            #{university}
          ) ;
    </insert>
    <insert id="addbasicsmessag" parameterType="Map">
        INSERT INTO `yuntianpersonnel`.`basicsmessage` (
          `uid`,
          `phone`,
          `mobilePhone`,
          `address`,
          `incumbency`,
          `incumbencyType`,
          `resume`
        )
        VALUES
        (
            #{id},
            #{phone},
            #{mobilePhone} ,
            #{address} ,
            #{incumbency},
            #{incumbencyType},
            #{resume}
        ) ;
    </insert>

    <select id="SearchAllPage" parameterType="Map" resultType="com.example.yunyoupersonnel.entity.User">
        SELECT
          u.`id`,
          `sex`,
          `branch`,
          `idCard`,
          `nativePlace`,
          `marriage`,
          `politics`,
          `folk`,
          `education`,
          `deparment`,
          `name` ,
          `computerLevel`,
          `graduateDate`,
          `accumulateID`,
          `administrationLevel`,
          `duty`,
          `position`,
          `foreignLanuage`,
          `FLlevel`,
          `university` ,
          `phone`,
          `mobilePhone`,
          `address`,
          `incumbency`,
          `incumbencyType`,
          `resume`
        FROM
          `user` u
        LEFT JOIN schoolmessage sch
        ON  u.id = sch.`uid`
        LEFT JOIN basicsmessage bas
        ON  u.id = bas.`uid`
        <where>
            <if test="id != null and id != '' ">
                u.`id` = #{id}
            </if>
            <if test="address != null and address != '' ">
                and `address` like CONCAT( "%" , #{address} , "%" )
            </if>
            <if test="name != null and name != '' ">
                and `name` like CONCAT( "%" , #{name} , "%" )
            </if>
        </where>
    </select>
    <delete id="deleteUser" parameterType="String">
        DELETE
        FROM
          `user`
        WHERE `id` = #{value} ;
    </delete>
    <delete id="deleteSchool" parameterType="String">
        DELETE
        FROM
          `schoolmessage`
        WHERE
         `uid` = #{value}
    </delete>
    <delete id="deleteBasicmessage" parameterType="String">
        DELETE
        FROM
          basicsmessage
        WHERE
        `uid` = #{value}
    </delete>
</mapper>