<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="../../plugins/elementui/index.css">
    <link rel="stylesheet" href="../../css/hotShow.css">
    <script src="../../js/axios-0.18.0.js"></script>
    <script src="../../js/jquery.min.js"></script>
    <script src="../../js/vue.js"></script>
    <script src="../../plugins/elementui/index.js"></script>
    <link rel="stylesheet" href="../../css/teacherDetails.css">
</head>
<body>
    <div id="app">
        <el-container>
            <el-header>
                <div class="title">
                    教练详情
                </div>
                <el-divider>
                    <el-divider><i class="el-icon-s-management"></i></el-divider>
                </el-divider>
            </el-header>
            <el-row>
                <el-col class="col" :span="12">
                    <div class="grid-content bg-purple">
                        <el-col :span="24">
                            <div class="demo-basic--circle">
                                <div class="block"><el-avatar shape="square" class="size" :src="squareUrl"></el-avatar></div>
                            </div>
                        </el-col>
                    </div>
                </el-col>
                <el-col class="col" :span="6">
                    <div class="grid-content bg-purple-light">
                        <el-row >
                            <el-col :span="24">
                                <div class="name">
                                    {{teacher.name}}
                                </div>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <div class="grid-content bg-purple">
                                    <el-tag>
                                        倒车入库
                                    </el-tag>
                                    <el-tag>
                                        侧方入库
                                    </el-tag>
                                    <el-tag>
                                        直角入库
                                    </el-tag>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row >
                            <el-col :span="24">
                                <div class="grid-content bg-purple">
                                    服务范围：
                                    <span class="write" >
                                        C1 , C2 , C3
                                    </span>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row >
                            <el-col :span="24">
                                <div class="grid-content bg-purple">
                                    科目二通过率：
                                    <span class="write" >
                                        {{teacher.percent}}
                                    </span>
                                </div>
                            </el-col>
                            <el-col :span="24">
                                <div class="grid-content bg-purple">
                                    科目三通过率：
                                    <span class="write" >
                                        {{teacher.percent}}
                                    </span>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row >
                            <el-col :span="24">
                                <div class="grid-content bg-purple">
                                    一共培训了：
                                    <span class="write" >
                                        {{teacher.together}}人
                                    </span>
                                </div>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="24">
                                <el-row>
                                    <el-button @click="prepare" type="primary">预约</el-button>
                                    <el-button type="warning">沟通</el-button>
                                </el-row>
                            </el-col>
                        </el-row>
                    </div>
                </el-col>
                <el-col class="col" :span="6"><div class="grid-content bg-purple-dark">
                    <el-card class="box">
                        <div class="box-title">介绍 ：</div>
                        <div class="box-center">
                            &nbsp;&nbsp;&nbsp;&nbsp;安全驾驶，出行安全，
                            是每一位驾驶员的真心愿望。汽车驾驶过程中经常遇到一些特殊情况，
                            没有经验的驾驶新手一旦遇到必将惊魂失措、不知如何处理，
                            可能造成严重的交通事故。为此，本文初步分析与总结了汽车驾驶过程中遇到的特殊情况及应对技巧，
                            希望为驾驶人员提供更多有价值的建设与指导，做到安全驾驶、保证人身安全.<br>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            在车辆行驶中,驾驶员的驾驶技术水平如何,不仅影响到行车安全,而且与燃油消耗密切相关。据资料介绍:经测试.驾驶技术水平的高低所引起的燃油消耗差为7%～15%;
                            新老驾驶员所引起的燃油消耗差可达20%～40%;同一驾驶员,
                            只要稍加改进原来不合理的操诈.
                        </div>
                    </el-card>
                </div></el-col>
            </el-row>
            <el-dialog
                    title="预约选择"
                    :visible.sync="dialogVisible"
                    width="90%">
                <el-row>
                    <el-col :span="12"><div class="grid-content bg-purple">
                        <div class="black">
                            <span class="demonstration">选择日期：</span>
                            <el-date-picker
                                    v-model="value1"
                                    type="date"
                                    placeholder="选择日期">
                            </el-date-picker>
                        </div>
                    </div></el-col>
                    <el-col :span="12"><div class="grid-content bg-purple-light">
                        <el-form label-width="120px">
                            <el-form-item label="训练地区选择：">
                                <el-select v-model="area" placeholder="请选择选来你的地区">
                                    <el-option label="广州市黄埔区xx街xx号天警训练场" value="广州市黄埔区xx街xx号天警训练场"></el-option>
                                    <el-option label="广州市黄埔区xx街xx号天警训练场" value="广州市黄埔区xx街xx号天警训练场"></el-option>
                                    <el-option label="广州市黄埔区xx街xx号行大训练场" value="广州市黄埔区xx街xx号行大训练场"></el-option>
                                    <el-option label="广州市黄埔区xx街xx号云顺训练场" value="广州市黄埔区xx街xx号云顺训练场"></el-option>
                                </el-select>
                            </el-form-item>
                        </el-form>
                    </div></el-col>
                </el-row>
                <el-row :gutter="20">
                    <el-col :span="6" v-for="( time , index ) in times " >
                        <div class="grid-content bg-purple">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>{{project[index]}}</span>
                            </div>
                            <div class="cardContext">
                                <div class="time">时间：{{time}}</div>
                                <div class="money">价钱：200元/小时</div>
                                <div class="state">预约状态：<span v-html="order[index]"></span></div>
                                <el-button @click="prepareBut(index)"  type="success">预约按钮</el-button>
                                <el-button @click="cancelPrepare(index)"  type="danger">取消预约</el-button>
                            </div>
                        </el-card>
                    </div></el-col>
                </el-row>
                <el-row>
                    <el-button @click="sure()"  style="float: right"  type="success" plain>确定按钮</el-button>
                </el-row>
            </el-dialog>
        </el-container>

    </div>
</body>
<script type="text/javascript">
    var that ;
    new Vue({
        el: "#app" ,
        data : {
            //  teacherId
            teacherId : "" ,
            //  你预约的id
            prepareMyId : [] ,
            value1: "" ,
            data : "" ,
            //  已经预约的id
            prepareId : [] ,
            dialogVisible : false ,
            area : "" ,
            squareUrl : "" ,
            teacher : {} ,
            preparebut : false ,
            project : [ "科目二" , "科目二" , "科目二" , "科目二" ,
                "科目三" , "科目三" , "科目三" , "科目三"]  ,
            order : ["未预约" , "未预约" , "未预约" , "未预约" , "未预约" ,
                "未预约" , "未预约" , "未预约" ] ,
            times : [ "09:10-10:10" , "10:10-11:10" , "11:10-12:10"
                , "13:10-14:10" , "14:10-15:10" , "15-10-16:10" , "16:10-17:10" , "17:10-18:10" ]
        } ,
        watch :{
            //  监控数据改变事件
            value1(val){
            }
        } ,
        created : function(){
            that = this ;
            that.predict() ;
            //  头像
            that.squareUrl = "/img/driverSchool/220.jpg" ;
            //
        } ,
        methods : {
            predict : function () {
                var search = location.search ;
                //  搜索出？后面数据，主要为老师的id
                var strings = search.split( "=" ) ;
                that.teacherId = strings[1] ;
                axios.get ( "/hotShow/thisTeacher?id=" + strings[1] ).then( function (value) {
                    data =  value.data ;
                    that.value1 = new Date() ;
                    if ( data.bool ) {
                        that.teacher = data.data ;
                        axios.post( "/hotShow/exeriselist" ,{ id : strings[1] , date : that.value1 } ).then(function (value) {
                            data = value.data ;
                            if ( data.bool ) {
                                data = data.data ;
                                for ( var i = 0 ; i < data.length ; i++ ) {
                                    for ( var j = 0 ; j < that.times.length ; j++ ) {
                                        if ( that.times[j] == data[i].execiseTime ) {
                                            that.order[j] = "<span style='color: red'>已预约</span style='color: red'>" ;
                                            that.prepareId.push( j ) ;
                                        }
                                    }
                                }
                            } else {
                                that.$message.error(data.message);
                            }
                        })
                    } else {
                        that.$message.error(data.message);
                    }
                })
            } ,
            prepare : function () {
                that.dialogVisible = true ;
            } ,
            prepareBut : function (index) {
                for ( var i = 0 ; i < that.prepareId.length ; i++ ) {
                    if ( index == that.prepareId[i] ) {
                        that.$message.error("已经被预约，请不要重复预约") ;
                        return ;
                    }
                }
                //  先移除再添加
                that.order.splice(index, 1 ,"<span style='color: #489b45'>已被您预约</span>");

                //  添加你预约的id
                that.prepareMyId.push( index ) ;
            } ,
            cancelPrepare : function ( index ) {
                for ( var i = 0 ; i < that.prepareMyId.length ; i++ ) {
                    if ( index == that.prepareMyId[i] ) {
                        that.order.splice( index , 1 ,"未预约");
                    }
                }
            } ,
            sure : function ( ) {
                that.dialogVisible = false ;
                for ( var i = 0 ; i < that.prepareMyId.length ; i++ ) {
                    axios.post( "/hotShow/addTeacher" ,{
                        execiseTime : that.times[i] ,
                        name : that.project[i] ,
                        teacherId : that.teacherId ,
                        price : 200 ,
                        date : that.value1 ,
                        area : that.area  ,
                    }).then(function (value) {
                        data = value.data ;
                        if ( data.bool ) {
                            that.$message({
                                message: "预约成功",
                                type: 'success'
                            });
                        } else {
                            that.$message.error("预约不成功");
                        }
                    })
                }
            }
        }
    })
</script>