html , body , #app{
    margin: 0px;
    height: 100%;
    width: 100%;
    padding: 0px;
}
.title{
    background-image: url("../img/office/12.jpg");
    background-repeat: no-repeat ;
    background-size: 100%;
    font-size: 50px;
    text-align: center ;
    height: 100%;
    width: 100%;
    line-height: 600px;
}
