<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,user-scalable=no,minimal-ui">
    <meta name="description" content="人事平台">
    <meta name="author" content="人事平台">
    <link rel="stylesheet" href="css/page-health-orderNotice.css" />
    <link rel="stylesheet" href="plugins/elementui/index.css">
    <link rel="stylesheet" href="css/card.css">
    <script>
        if(window.self != window.top){
            window.top.location = window.location;
        }
    </script>
    <!-- 引入组件库 -->
    <script src="js/vue.js"></script>
    <script src="js/axios-0.18.0.js"></script>
    <script src="plugins/elementui/index.js"></script>
</head>

<body>
    <div id="app">
        <!-- 页面头部 -->
        <el-container>
            <el-card class="card">
                <div slot="header" class="clearfix">
                    <span class="title">云游人事管理系统</span>
                </div>
                <div class="input">
                    <el-input class="el-input" v-model="username" placeholder="请输入用户名">
                    </el-input>
                </div>
                <div class="input">
                    <el-input class="el-input" v-model="password" placeholder="请输入密码">
                    </el-input>
                </div>
                <el-row class="button">
                    <el-button @click="dianji" class="but" type="success">登录</el-button>
                    <el-button class="but" type="warning">取消</el-button>
                </el-row>
            </el-card>
        </el-container>
    </div>
</body>
<script type="text/javascript">
    var that ;
    new Vue({
        el : "#app" ,
        data : {
            username : "" ,
            password : ""
        } ,
        created: function(){
            that = this ;
        } ,
        methods : {
            dianji : function () {
                var user = {
                    username : that.username ,
                    password : that.password
                }
                axios.post( "/login/login" , user ).then(function (value) {
                    value = value.data ;
                    if ( value.bool ) {
                        location.href = "/pages/main.html" ;
                    } else {
                        that.$message.error("登录错误，账号或密码错误" ) ;
                    }
                })
            }
        }
    })
</script>